@import url(imports/variables.css);
@import url(imports/links.css);

@font-face {
    font-family: 'Boots and Spurs';
    src: url("../fonts/Boots\ and\ Spurs\ Font.ttf") format("truetype");
}

body {
    min-height: 100vh;
    font-family: var(--font-paragraph), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-family: var(--font-heading), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: var(--text-color);
    text-decoration: none;
    margin-left: 10px;
}

h1, h2{
    font-family: var(--font-heading), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-list h2 {
    font-family: var(--font-paragraph), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sale {
    background: #16a316;
    color: var(--text-color);
}

header,
footer {
    background: var(--header-footer);
    color: var(--text-color);
}

footer {
    text-align: center;
    padding: 20px;
}