@font-face {
    font-family: 'Boots and Spurs';
    src: url("../fonts/Boots\ and\ Spurs\ Font.ttf") format("truetype");
}

body {
    min-height: 100vh;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-family: 'Boots and Spurs', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

/* Links*/
nav {
    margin-left: 25px;
    display: none;
    position: fixed;
    top: 47px;
    right: 0px;
    background: #202020;
    z-index: 1000;
}

#menu-check {
    display: none;
}
 nav ul {
    padding: 0px 10px;
 }

nav li {
    display: block;
    list-style: none;
    padding: 20px;
}

#menu-check:checked ~ nav {
    display: block;
}

.menu {
    margin-right: 15px;
    font-size: 1.5rem;
}

/* Links*/
nav .links {
    font-size: 17.5px;
    font-weight: 550;
    color: #fff;
    text-decoration: none;
}

.links.home, .links.guitars, .links.contact {
    text-decoration: underline;
}


h1, h2{
    font-family: 'Boots and Spurs', sans-serif;
}



.product-list h2 {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cta {
    background: #ca1010;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 5px;
}

.cta-small {
    padding: 8px 20px;
    font-size: 0.8rem;
    grid-column: 2;
    grid-row: 2;
    min-width: 51.2333px;
    text-align: center;
    margin-top: 5px;
}

.sale {
    background: #16a316;
    color: #fff;
}

header,
footer {
    background: #202020;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px;
}



/* Home page */
.welcome {
    background: url(../images/guitarkings-img.jpg) no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    min-height: 70vh;
    position: relative;
}

.welcome_content {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.selling-points {
    margin: 50px auto;
}

.selling-points,
.reviews-content {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.selling-points >*,
.reviews-content >* {
    flex: 1;
}

.selling-points h2 {
    text-align: center;
}

.selling-points_image{
    border-radius: 100px;
    width: 100%;
}

.reviews {
    background: #e7e7e7;
    text-align: center;
    padding: 50px;
}

.reviews h3 {
    font-family: "Boots and Spurs", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.reviews-content {
    text-align: center;
    margin: auto;
    gap: 50px;
}

.review-image {
    width: 100px;
    border-radius: 50%;
    float: right;
    margin-top: -20px;
}

.reviews-content div {
    margin: 20px;
}

.reviews-content span {
    display: block;
}

.featured-list {
    max-width: 1000px;
    margin: 50px auto;
}

.featured {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.featured-products {
    background: #fbfbfb;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.featured-products h3, 
.featured-products p {
    grid-column: 1;
    font-size: 0.9em;
    margin: 5px;
}

.featured-products img {
    width: 100%;
    grid-column: -1/1;
}

/* Guitars page */
.guitars {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
}
.product-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.products {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.products img {
    width: 100%;
    grid-column: -1/1;
}

.products h2, 
.products p {
    grid-column: 1;
    font-size: 1.2em;
    margin: 5px;
    text-align: left;
}

.product-sale {
    display: flex;
}

.old-price {
    text-decoration: line-through;
}
/* Contact page */
.contact {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
}

input,
select,
textarea {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    padding: 10px;
}
.submit_button {
    color: #fff;
    background: #ca1010;
    border: none;
    outline: none;
}

textarea {
    height: 65%;
    min-height: 100px;
}

.form-wrapper {
    display: flex;
    text-align: start;
    flex-direction: column;
}

.form-wrapper >* {
    flex: 1;
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    padding: 10px 50px;
    text-transform: uppercase;
}


/*Product page: Adirondack Red*/
.product-specific {
    display: flex;
    max-width: 1000px;
    margin-bottom: 50px;
    flex-direction: column;
}

.product-specific >* {
    flex: 1;
}

.product-details {
   padding: 0 30px;
}

.product-details a {
    display: block;
    width: 95.467px;
    margin: auto;
}

.product-price {
    font-size: 1.5em;
}

.product-image {
    width: 100%;
}

.product-images-thumbnails {
    display: flex;
    gap: 10px;
    margin: 5px;
}

/*Tablets*/
@media (min-width: 600px) {
    .featured {
        grid-template-columns: repeat(2, 1fr);
    }

    .welcome_content {
        transform: translateX(-75%);
    }

    header {
        justify-content: flex-start;
        padding: 0;
    }

    nav {
        display: block;
        background: none;
        position: static;
    }

    nav li {
        display: inline-block;
    }

    .menu {
        display: none;
    }

    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-specific {
        margin: 50px auto;
        flex-direction: column-reverse;
    }

    .product-details {
        margin-bottom: 50px;
    }

    .form-wrapper {
        flex-direction: row
    }

    .selling-points h2 {
        text-align: left;
    }
}

/*Desktop*/
@media (min-width: 800px) {
    .featured {
        grid-template-columns: repeat(4, 1fr);
    }

    .selling-points,
    .reviews-content {
        flex-direction: row;
    }

    .reviews-content div {
        margin: 50px;
    }

    .welcome {
        background-position-x: right;
    }

    .welcome_content {
        top: 100px;
        left: 100px;
        transform: none;
    }

    .cta {
        padding: 10px 80px;
    }

    .cta-small {
        padding: 8px 20px;
    }

    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-specific {
        margin: 50px auto;
        flex-direction: row;
    }
}